@import compass
@import 960/grid

+global-reset

$ninesixty-columns : 12
$base-font-size : 16px
$base-line-height : 24px
$white : white
$black : black
$blue : blue
$color-orange : orange
$yellow : yellow

// shadow color
$default-box-shadow-color : lighten($black, 80%)

+establish-baseline

+font-face("Jenna Sue", font-files("JennaSue.ttf"))
+font-face("Port sans", font-files("PortLligatSans-Regular.ttf"))

body
  background : image-url("bg.png")
  font-family : "Port sans", sans-serif

h1
  +adjust-font-size-to(48px)
  font-family: "Jenna Sue"
h2
  +adjust-font-size-to(36px)
h3
  +adjust-font-size-to(24px)
h4
  +adjust-font-size-to(20px)
h5
  +adjust-font-size-to(18px)
p
  +leader
  +trailer

a
  font-family: "Port sans"
  display : block
  +unstyled-link

input
  margin : 0px
  &[type=text]
    +leader
    padding : 5px 0px 5px 0px
    border : 1px solid lighten($black, 75%)

img
  display : block
  border : 5px solid $white

#headercontainer
  +grid-container
  +clearfix

header
  +clearfix

  h1
    +grid(3)

  nav
    +grid(6)

  #searchbox
    +grid(3)
    input
      width : 100%
    
ul#nav
  +horizontal-list
  +leader
  +adjust-font-size-to(12px)
  +single-text-shadow(darken($white, 60%), 1px, 1px, 2px)

  a
    background : $black
    width : 100px
    text-align: center
    color : $white
    font-weight : bold
    text-transform : uppercase
    padding : 5px 0px 5px 0px
    &:hover, &.current
      background : $color-orange
      color : $black

#highlightwrapper
  background : image-url('highlight.jpg')
  border-top : 5px solid $yellow

#highlight
  +grid-container
  +padding-leader
  +padding-trailer
  +clearfix

  section
    +clearfix

  article
    +grid(4)

#people-container
  +clearfix

#content
  +grid-container
  +padding-leader
  +clearfix

  article
    +grid(4)
    +trailer
    background : white
    +border-radius(2px)

#person
  border : 2px solid grey
  +single-box-shadow
  padding : 10px
  +clearfix

  h5, li, ul, p
    float : left

  p
    margin-top : 0px

  h5
    width : 200px

  a
    display : block

  #profile-pic
    float : left
    margin-right : 10px

  #groups
    float : left
    width : 100%
    margin : 5px 0px 0px 0px
    li
      margin-right : 5px

  #roles
    li
      margin : 5px 0px 0px 
      +adjust-font-size-to(12px)
    span
      display : block
      +border-radius(2px)
      background : orange
      color : $black
      border : 1px solid darken($white, 10%)
      padding : 2px 5px 2px 5px
      +single-text-shadow(darken($white, 60%), 1px, 1px, 2px)
