/* line 17, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 58, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 62, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

@font-face {
  font-family: "Jenna Sue";
  src: url('/fonts/JennaSue.ttf') format('truetype');
}

@font-face {
  font-family: "Port sans";
  src: url('/fonts/PortLligatSans-Regular.ttf') format('truetype');
}

/* line 23, ../../sass/screen.sass */
body {
  background: url('/img/bg.png?1338798804');
  font-family: "Port sans", sans-serif;
}

/* line 27, ../../sass/screen.sass */
h1 {
  font-size: 3em;
  line-height: 1.5em;
  font-family: "Jenna Sue";
}

/* line 30, ../../sass/screen.sass */
h2 {
  font-size: 2.25em;
  line-height: 1.333em;
}

/* line 32, ../../sass/screen.sass */
h3 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 34, ../../sass/screen.sass */
h4 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 36, ../../sass/screen.sass */
h5 {
  font-size: 1.125em;
  line-height: 1.333em;
}

/* line 38, ../../sass/screen.sass */
p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 42, ../../sass/screen.sass */
a {
  font-family: "Port sans";
  display: block;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}

/* line 47, ../../sass/screen.sass */
input {
  margin: 0px;
}
/* line 49, ../../sass/screen.sass */
input[type=text] {
  margin-top: 1.5em;
  padding: 5px 0px 5px 0px;
  border: 1px solid #bfbfbf;
}

/* line 54, ../../sass/screen.sass */
img {
  display: block;
  border: 5px solid white;
}

/* line 58, ../../sass/screen.sass */
#headercontainer {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  overflow: hidden;
  *zoom: 1;
}

/* line 62, ../../sass/screen.sass */
header {
  overflow: hidden;
  *zoom: 1;
}
/* line 65, ../../sass/screen.sass */
header h1 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
/* line 68, ../../sass/screen.sass */
header nav {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
/* line 71, ../../sass/screen.sass */
header #searchbox {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
/* line 73, ../../sass/screen.sass */
header #searchbox input {
  width: 100%;
}

/* line 76, ../../sass/screen.sass */
ul#nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 1.5em;
  font-size: 0.75em;
  line-height: 2em;
  text-shadow: #666666 1px 1px 2px;
}
/* line 60, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul#nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul#nav li:first-child, ul#nav li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul#nav li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
ul#nav li.last {
  padding-right: 0;
}
/* line 82, ../../sass/screen.sass */
ul#nav a {
  background: black;
  width: 100px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 0px 5px 0px;
}
/* line 90, ../../sass/screen.sass */
ul#nav a:hover, ul#nav a.current {
  background: orange;
  color: black;
}

/* line 94, ../../sass/screen.sass */
#highlightwrapper {
  background: url('/img/highlight.jpg?1338820463');
  border-top: 5px solid yellow;
}

/* line 98, ../../sass/screen.sass */
#highlight {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  overflow: hidden;
  *zoom: 1;
}
/* line 104, ../../sass/screen.sass */
#highlight section {
  overflow: hidden;
  *zoom: 1;
}
/* line 107, ../../sass/screen.sass */
#highlight article {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}

/* line 110, ../../sass/screen.sass */
#people-container {
  overflow: hidden;
  *zoom: 1;
}

/* line 113, ../../sass/screen.sass */
#content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  padding-top: 1.5em;
  overflow: hidden;
  *zoom: 1;
}
/* line 118, ../../sass/screen.sass */
#content article {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  margin-bottom: 1.5em;
  background: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 124, ../../sass/screen.sass */
#person {
  border: 2px solid grey;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
  -moz-box-shadow: 0px 0px 5px #cccccc;
  box-shadow: 0px 0px 5px #cccccc;
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 130, ../../sass/screen.sass */
#person h5, #person li, #person ul, #person p {
  float: left;
}
/* line 133, ../../sass/screen.sass */
#person p {
  margin-top: 0px;
}
/* line 136, ../../sass/screen.sass */
#person h5 {
  width: 200px;
}
/* line 139, ../../sass/screen.sass */
#person a {
  display: block;
}
/* line 142, ../../sass/screen.sass */
#person #profile-pic {
  float: left;
  margin-right: 10px;
}
/* line 146, ../../sass/screen.sass */
#person #groups {
  float: left;
  width: 100%;
  margin: 5px 0px 0px 0px;
}
/* line 150, ../../sass/screen.sass */
#person #groups li {
  margin-right: 5px;
}
/* line 154, ../../sass/screen.sass */
#person #roles li {
  margin: 5px 0px 0px;
  font-size: 0.75em;
  line-height: 2em;
}
/* line 157, ../../sass/screen.sass */
#person #roles span {
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: orange;
  color: black;
  border: 1px solid #e6e6e6;
  padding: 2px 5px 2px 5px;
  text-shadow: #666666 1px 1px 2px;
}
