<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Angellist</title>
    <link href="css/screen.css" rel="stylesheet" />
</head>
<body>
    <div id="headerwrapper">
        <div id="headercontainer">
            <header>
                <h1>Angelist</h1>
                <nav>
                <ul id="nav">
                    <li>
                        <a href="#" class="current">home</a>
                    </li>
                    <li>
                        <a href="#startups">startups</a>
                    </li>
                    <li>
                        <a href="#talents">talents</a>
                    </li>
                    <li>
                        <a href="#angels">angels</a>
                    </li>
                </ul>
                </nav>
                <div id="searchbox"><input type="text" name="search" placeholder="Search for angels..." /></div>
            </header>
        </div>
    </div>
    <div id="highlightwrapper">
        <div id="highlight">
            <section>
                <article>
                    <img src="http://placehold.it/290X150" alt="Image holder 0" />
                </article>
                <article>
                    <img src="http://placehold.it/290X150" alt="Image holder 1" />
                </article>
                <article>
                    <img src="http://placehold.it/290X150" alt="Image holder 2"/>
                </article>
            </section>
        </div>
    </div>
    <section id="content"></section>

    <script type="text/template" id="people-template">
        <section id="people-container"></section>
    </script>
    <script type="text/template" id="people-form">
        <div id="person">
        <form action="/people" method="post">
            <input type="text" name="firstname" placeholder="firstname" />
            <input type="text" name="lastname" placeholder="your last name" />
            <input type="text" name="profile_pic" value="http://placehold.it/60X60" />
            <input type="text" name="description" placeholder="your description" />
            <input type="submit" name="Submit" value="Submit" />
        </form>
        </div>
    </script>
    <script type="text/template" id="person-template">
        <div id="person">
            <a id="profile-pic" href="#people/<%= lastname %>/<%= firstname %>">
                <img src="<%= profile_pic %>" alt="Profile Image" />
            </a>
            <h5><%= firstname %> <%= lastname %></h5>
            <ul id="roles">
                <% _.each(roles, function(role){ %>
                    <li>
                        <span><%= role %></span>
                    </li>
                <% }); %>
            </ul>
            <ul id="groups"></ul>
            <p><%= description %></p>
            
        </div>
    </script>
    <script type="text/template" id="group-template">
        <a href="#groups/<%= id %>">
            <img src="<%= group_pic %>" alt="<%= name %>" />
        </a>
    </script>
    <!--The vendors list-->
    <script src="js/vendors/json2.js" type="text/javascript"></script>
    <script src="js/vendors/jquery.js" type="text/javascript"></script>
    <script src="js/vendors/underscore.js" type="text/javascript"></script>
    <script src="js/vendors/backbone.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
</body>
</html>
